
.cityWeather{
    .iconSvg{
        fill: white;
        /* to black */
        filter: invert(1);
        width: 5rem;
    }
    .iconSvg-2{
        fill: white;
        /* to black */
        filter: invert(1);
        width: 2rem;
    }
    .data{
        .data-1{
            background-color:#32425c ;
        }
        .data-2{
            background-color:#32425c ;
        }
    }
   
    
    h6{
        margin: 0;
    }
    .icon{
        margin: 5px;
    }
  
        .temp{
            font-size: 60px;
        }
    
    .font-2{
        margin-top: 4px;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 500;
    }
    .font-3{
        font-size: 12px;
    }
    .font-1{
        font-size: 3rem;
    }
}