input.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    // border:none !important;
    outline: none !important;
   box-shadow: none;
 }
 input::placeholder {
  color: rgb(255, 255, 255) !important;
  opacity: 1;
}